.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  margin-top: 20px;
  font-size: 20px;
}